<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
<!--        TODO переписать на докерхост в прод-->
        <destination>${LOGSTASH_HOST}</destination>
    </appender>

    <root level="debug">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>